* {
  font-family: roboto, sans-serif;
  margin: 0 auto;
  font-size: 18px;
  color: white;
}
body {
  background-color: #e5e5e5;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 200px;
  width: 180px;

  border-radius: 6px;
  border: 3px #ef6c00 solid;
}
#contador {
  color: black;
  font-size: 70px;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  gap: 5px;
  padding-top: 10px;
}
.button {
  display: flex;
  background-color: gray;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.button:hover {
  background: linear-gradient(180deg, #ef6c00 0%, #c0661c 100%);
  cursor: pointer;
}
#button3 {
  border-radius: 4px;
  width: 50px;
}
